body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    overflow: hidden;
  }

.container {
    width: 100%;
    max-width: 320px;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}

h1 {
    color: #007AFF;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.result {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.result h2 {
    margin-top: 0;
    font-size: 20px;
    color: #007AFF;
}

#score {
    font-size: 36px;
    margin: 20px 0;
    color: #333;
    font-weight: bold;
}

.back-button {
    display: block;
    text-decoration: none;
    padding: 12px 20px;
    background-color: #007AFF; /* iOS blue */
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* iOS-like shadow */
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #005BAC; /* Darker shade on hover */
}
